<div class="fos_user_user_show">
    <div class="form-row">
        <div class="form-label"><b>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</b></div>
        <div class="form-input">{{ user.username }}</div>
    </div>
    <div class="form-row">
        <div class="form-label"><b>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</b></div>
        <div class="form-input">{{ user.email }}</div>
    </div>
</div>
