<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-with; initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>{% block stades_title %}{% endblock %} - Stades</title>
    {% block add_stylesheets %}

    {% endblock %}
    {% stylesheets filter='cssrewrite,?yui_css'
        '@StadesStadesBundle/Resources/public/css/stylev2.css'
        '@StadesStadesBundle/Resources/public/css/cookies.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% block add_javascripts %}
        
    {% endblock %}
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <div class="btn-menu"></div>
        <div class="title">
            {% block stades_sub_title %}
            {% endblock %}
        </div>
        <div class="form-search">
            {{ render(controller("StadesStadesBundle:Stades:search")) }}
        </div>
    </div>
    <!-- MENU -->
    {% block stades_menu %}
        
    {% endblock %}
    <!-- LIEN TO TOP -->
    <a href="#" class="to-top">Go to top !</a>
    <!-- CONTENU -->
    <div class="content">
        {% block stades_view %}
            
        {% endblock %}
        
        {% block stades_view_description %}
                            
        {% endblock %}
    </div>
    <!-- DIV pour le filtre noir quand le menu est ouvert -->
    <div class="filter"></div>

    {% javascripts filter='?yui_js'
        '@StadesStadesBundle/Resources/public/js/script.js'
        '@StadesStadesBundle/Resources/public/js/cookies.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>