{% extends "StadesStadesBundle::layout.html.twig" %}

{% block stades_title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stades_sub_title %}
    Accueil
{% endblock %}

{% block stades_view %}
    <div class="vignette">
        {% for lastStade in stade %}
            <h2>Dernier stade ajouté</h2>
            <a class="vignette-link" href="{{ path('stades_stades_view', {'id': lastStade.id }) }}">{{ lastStade.nomStade }}</a>
        {% else %}
            <h2>Aucun stade</h2>
        {% endfor %}
    </div>
{% endblock %}