{% extends "StadesStadesBundle::layout.html.twig" %}

{% block stades_title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stades_sub_title %}
    Accueil
{% endblock %}

{% block stades_view %}
    {% for lastStade in stade %}
        <div class="vignette">
            <h2>Dernier stade ajouté</h2>
            <a class="vignette-link" href="{{ path('stades_stades_view', {'id': lastStade.id }) }}">{{ lastStade.nomStade }}</a>
        </div>
        <div class="vignette">
            <h2>Nombre de stades</h2>
            <p>{{ count }}</p>
        </div>
    {% else %}
        <div class="vignette">
            <h2>Aucun stade</h2>
        </div>
    {% endfor %}
    <div class="vignette">
        <h2>Comment ça marche ?</h2>
        <p>
            Cherchez un club <i>(avec la loupe en haut à droite)</i> et visualisez
            le stade sur lequel il joue !
        </p>
    </div>
{% endblock %}