{% extends "FOSUserBundle::layout.html.twig" %}

{% block stades_title_user %}
    Changer mon mot de passe
{% endblock %}

{% block stades_sub_title_user %}
    Changer mon mot de passe
{% endblock %}

{% block fos_user_content %}
    <h2>Changer mon mot de passe</h2>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
