{% extends "FOSUserBundle::layout.html.twig" %}

{% block stades_title_user %}
    Mot de passe perdu
{% endblock %}

{% block stades_sub_title_user %}
    Mot de passe perdu
{% endblock %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
<a class="vignette-link" href="{{ path('stades_stades_homepage') }}">Retour à l'accueil</a>
{% endblock fos_user_content %}
