.cookies-askConsent {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    font-size: 0.9em;
    text-align: center;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-infoCookies {
    position: fixed;
    border-radius: 2px;
    box-shadow: 0 0 8px #484848;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px 30px;
    padding: 10px;
    text-align: center;
    background-color: #484848;
    color: #fff;
    font-size: 0.9em;
    z-index: 10001;
}

.text-infoCookies {
    margin: 5px 0;
    text-align: center;
}

.buttons {
    margin: 10px 0;
}

.btn-cookie {
    text-decoration: none;
    display: inline-block;
    padding: 5px 6px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-size: 0.9em
}

.btn-accept {
    background-color: #009d00;
}

.btn-accept:hover, .btn-accept:focus {
    background-color: #008000;
}

.btn-info {
    background-color: #3180ff;
}

.btn-info:hover, .btn-info:focus {
    background-color: #2664c9;
}

.btn-refuse {
    background-color: #ff2d2d;
}

.btn-refuse:hover, .btn-refuse:focus {
    background-color: #d32323;
}

@media (max-width: 285px) {
    
    .cookies-askConsent {
        font-size: 0.8em;
    }
    
    .box-infoCookies {
        margin: 5px 10px;
        font-size: 0.8em;
    }
    
    .btn-cookie {
        display: block;
        margin: 5px;
    }
}