// Header
$pictHeader : 40px;
$wHeader : 100%;

$pTitleHeader : 0;
$mTitleHeader : 0;

$tToggleDescription : 0;
$rToggleDescription : 60px;

$pContentDescription : 0 15px 5px 15px;
$wContentDescriptionInput : 100%;

// Menu
$hMenu : 100%;
$wMenu : 180px;
$pMenu : 0;
$mtMenu : 40px;

$pTitreSousMenu : 5px 0 5px 5px;

$mtMenuListe : 0;
$plMenuListe : 0;

$pMenuListeLink : 14px 0 14px 15px;
$wMenuListeLink : 165px !important;

// Content
$tContent : $pictHeader;
$bContent : 0;
$lContent : 0;
$rContent : 0;
$wContent : 100%;

$mArticle : 10px;
$pArticle : 10px 8px;

$wVignette : 70%;
$mVignette : 8px auto;
$pVignette : 5px;

$pVignetteLink : 10px;
$mVignetteLink : 5px;

$mFormRow : 15px;
$pFormRow : 5px 0;

$pFormErrorLi : 10px;

$pFormRowLabInp : 2px 0;

$pListTitleResult : 5px 0;

$pVignetteResult : 15px 10px;

// Filter
$wFilter : 100%;
$hFilter : 100%;

// InputSubRes
$pInputSubRes : 10px;
$mInputSubRes : 5px;
