// Font-family
$font : sans-serif;

// Font-size
$fsHeader : 1em;
$fsMenu : 0.9em;

$fsArticle : 1em;
$fsContentDescription :0.9em;
$fsVignetteH2 : 1.5em;
$fsVignetteH2_330 : 1.1em;
$fsVignetteLink : 0.9em;
$fsListTitleResult : 0.9em;
$fsFormErrorLi: 0.8em;

$fsInputSubRes : 0.9em;

// Line-height
$lhHeader : 40px;

$lnToggleDescription : 80px;