@import 'dimen';
@import 'fonts';
@import 'colors';

@mixin InputSubRes() {
    display: inline-block;
    text-decoration: none;
    color: $cInputSubRes;
    padding: $pInputSubRes;
    margin: $mInputSubRes;
    font-size: $fsInputSubRes;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

@mixin ImgIcone() {
    display: inline-block;
    width: $pictHeader;
    height: $pictHeader;
    vertical-align: middle;
    cursor: pointer;
    background-image: url("../../../images/sprite.png");
    background-repeat: no-repeat;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}